.sendForm {
    position: absolute;
    width: 1136px;
    height: 40px;
    left: 70px;
    top: 408px;
}

.textarea {
    overflow: hidden;
    resize: none;
    padding-left: 24px;
    line-height: 40px;
    min-height: 40px;
    width: 976px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
}

.button {
    position: absolute;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    right: 0;
    background: #0066CC;
    border-radius: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: transparent;

    color: #FFFFFF;
}

.button:hover {

}

.button:active {

}
