.container {
    margin-top: 76px;
}

.wrapper {
    display: flex;
    gap: 19px;
    align-items: center;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
